*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

.hide{
  display: none;
}

body{
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;

  font-size: 1.6rem;  

  display: grid;
  place-items: center;
  height: 100vh;
}



main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 4.8rem 6.4rem;
  width: 42.8rem;
  border-radius: .5rem;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

  background: white;
}

h1{
  color: #34355B;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 2.0rem;
}


p{
  color: #34355B;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;    
}





.closedCookie{
  margin-top: 2.6rem;  
}

.closedCookie:hover {
  cursor: pointer;	
	animation: vibrate-1 0.3s linear infinite both;
}

.btnOpeningCookie{
  background-color: white;
}



/*SCREEN 2*/

.phrase{
  color: #000;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.0rem;  

  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
  border-radius: .8rem; 
}
.boxAnimation{
  animation: fade-in-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.openedCookie{
  margin: 6.0rem 0;
}


button{
  color: white;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background-color: #FF9500;
  border: none;
  border-radius: .4rem;
  padding: 1.6rem;  
}
.tryAgain:hover{
  cursor: pointer;
  background-color: #d68007;
  transition: .5s;
  
}



/*@KEYFRAMES*/

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-.2rem, .2rem);
            transform: translate(-.2rem, .2rem);
  }
  40% {
    -webkit-transform: translate(-.2rem, -.2rem);
            transform: translate(-.2rem, -.2rem);
  }
  60% {
    -webkit-transform: translate(.2rem, .2rem);
            transform: translate(.2rem, .2rem);
  }
  80% {
    -webkit-transform: translate(.2rem, -.2rem);
            transform: translate(.2rem, -.2rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(5.0rem);
            transform: translateY(10.0rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}